EX_6/employee_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PersonalInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="firstname" type="xs:string" />
                    <xs:element name="lastname" type="xs:string" />
                    <xs:element name="dateofbirth" type="xs:string" />
                    <xs:element name="gender">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Male" />
                          <xs:enumeration value="Female" />
                          <xs:enumeration value="Other" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EmploymentInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="position" type="xs:string" />
                    <xs:element name="salary">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="999999" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="contactinformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="phonenumber" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
